* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $main-font-size;
    font-family: 'Raleway', sans-serif;
}
html, body {
    height: 100%;
}

body {
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $breakpoint-desktop) {
        background-image: url(../images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.page-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $breakpoint-desktop) {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: baseline;
        align-content: center;
        flex-direction: row;
    }
}