footer {
    position: absolute;
    bottom: 0;
    padding: 15px;


    .attribution {
        font-size: 11px;
        text-align: center;
        color: $second-color;

        a {
            color: #fff;
        }
    }
}