.left {
    display: block;
    background-color: $third-color;
    height: 220px;
    width: 315px;
    align-items: center;
    align-content: center;
    margin: 110px auto 15px auto;
    padding: 13px;
    border-radius: 10px 100px 10px 10px;

    .logo>img {
        max-width: 100%;
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 10px;
    }

    .imgs {
        display: flex;
        flex-wrap: nowrap;

        :nth-child(1){
            margin-left: 30px;
        }

        .img {
            background-color: $fourth-color;
            margin-top: 15px;
            margin-right: 15px;
            border-radius: 10px;
            justify-content: center;

            img {
                margin: 0;
                padding: 12px;
                display: block;
                max-width: 100%;
            }
        }
    }
}


@media (min-width: $breakpoint-desktop) {
    .left {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 21rem;
        left: 20%;
    }
}
