.right {
    display: block;
    background-color: $third-color;
    height: 160px;
    width: 315px;
    align-items: center;
    align-content: center;
    margin: 0px auto 2px auto;
    padding: 13px;
    border-radius: 10px 10px 10px 10px;
    position: relative;

    h3 {
        text-align: center;
        font-size: 16px;
        font-weight: 12;
        line-height: 4rem;
        color: $second-color;

        span {
            color: $first-color;
        }
    }

    .container-bandwith {
        margin: 0px auto 5px auto;
        width: 95%;
        text-align: center;

        .progress {
            padding: 2.5px;
            border-radius: 30px;
            background: rgba(0, 0, 0, 0.25);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);

            .progress-bar {
                height: 18px;
                border-radius: 30px;
                background-image: linear-gradient(to right, #fff, #EF476F);
                transition: 0.4s linear;
                transition-property: width, background-color;
            }
        }

        .progress-moved .progress-bar {
            width: 81.5%;
            background-color: linear-gradient(to right, #F9BCCA, #EF476F);
            animation: progressAnimation 6s;
        }

        @keyframes progressAnimation {
            0% {
                width: 5%;
                background-color: #F9BCCA;
            }

            100% {
                width: 81.5%;
                background-color: #EF476F;
            }
        }
    }

    .gb-container {
        position: relative;
        color: $first-color;
        height: 20px;

        .item {
            position: absolute;
        }

        .start-gb {
            left: 10px;
        }
        .full-gb {
            right: 10px;
        }
    }

    .banner {
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        margin: 15px 50px 15px 50px;
        padding: 5px 30px 50px 30px;
        width: 175px;
        height: 60px;
        position: absolute;

        h1 {
            color: $fourth-color;
            display: block;
            align-content: center;
            align-items: center;
            font-size: 30px;
            font-weight: 700;

            span {
                color: $second-color;
            }
        }
    }
}



@media (min-width: $breakpoint-desktop) {
    .right {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 525px;
        right: 20%;
        top: 25rem;

        h3 {
            text-align: left;
            margin-left: 18px;
            margin-top: 14px;
            font-size: 16px;
            font-weight: 12;
            line-height: 4rem;
            color: $first-color;

            span {
                color: $first-color;
                font-weight: 700;
                font-size: 18px;
            }
        }

        .gb-container {
            position: relative;
            color: $first-color;
            height: 20px;
    
            .item {
                position: absolute;
            }
    
            .start-gb {
                left: 15px;
            }
            .full-gb {
                right: 15px;
            }
        }

        .banner {
            position: absolute;
            text-align: center;
            background-color: #fff;
            border-radius: 10px 10px 0px;
            margin: 15px 50px 15px 50px;
            padding: 5px 30px 50px 30px;
            width: 175px;
            height: 60px;
            top: -45px;
            right: 1px;

            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 30px 30px 0;
                border-color: transparent #fff transparent transparent;
                right: -0.2px;
                top: 60px;
            }

            h1 {
                color: $fourth-color;
                display: block;
                align-content: center;
                align-items: center;
                font-size: 30px;
                font-weight: 700;
    
                span {
                    color: $second-color;
                }
            }
        }
    }
}