$primary-color: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));

$first-color: hsl(243, 100%, 93%);
$second-color: hsl(229, 7%, 55%);
$third-color: hsl(228, 56%, 26%);
$fourth-color: hsl(229, 57%, 11%);


$main-font-size: 14px;

$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;

