* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1440px) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.page-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1440px) {
  .page-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.left {
  display: block;
  background-color: #1d2c67;
  height: 220px;
  width: 315px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 110px auto 15px auto;
  padding: 13px;
  border-radius: 10px 100px 10px 10px;
}

.left .logo > img {
  max-width: 100%;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.left .imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.left .imgs :nth-child(1) {
  margin-left: 30px;
}

.left .imgs .img {
  background-color: #0c122c;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left .imgs .img img {
  margin: 0;
  padding: 12px;
  display: block;
  max-width: 100%;
}

@media (min-width: 1440px) {
  .left {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 21rem;
    left: 20%;
  }
}

.right {
  display: block;
  background-color: #1d2c67;
  height: 160px;
  width: 315px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0px auto 2px auto;
  padding: 13px;
  border-radius: 10px 10px 10px 10px;
  position: relative;
}

.right h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 12;
  line-height: 4rem;
  color: #848794;
}

.right h3 span {
  color: #dddbff;
}

.right .container-bandwith {
  margin: 0px auto 5px auto;
  width: 95%;
  text-align: center;
}

.right .container-bandwith .progress {
  padding: 2.5px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.right .container-bandwith .progress .progress-bar {
  height: 18px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#EF476F));
  background-image: linear-gradient(to right, #fff, #EF476F);
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.right .container-bandwith .progress-moved .progress-bar {
  width: 81.5%;
  background-color: linear-gradient(to right, #F9BCCA, #EF476F);
  -webkit-animation: progressAnimation 6s;
          animation: progressAnimation 6s;
}

@-webkit-keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #F9BCCA;
  }
  100% {
    width: 81.5%;
    background-color: #EF476F;
  }
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #F9BCCA;
  }
  100% {
    width: 81.5%;
    background-color: #EF476F;
  }
}

.right .gb-container {
  position: relative;
  color: #dddbff;
  height: 20px;
}

.right .gb-container .item {
  position: absolute;
}

.right .gb-container .start-gb {
  left: 10px;
}

.right .gb-container .full-gb {
  right: 10px;
}

.right .banner {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 15px 50px 15px 50px;
  padding: 5px 30px 50px 30px;
  width: 175px;
  height: 60px;
  position: absolute;
}

.right .banner h1 {
  color: #0c122c;
  display: block;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: 700;
}

.right .banner h1 span {
  color: #848794;
}

@media (min-width: 1440px) {
  .right {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 525px;
    right: 20%;
    top: 25rem;
  }
  .right h3 {
    text-align: left;
    margin-left: 18px;
    margin-top: 14px;
    font-size: 16px;
    font-weight: 12;
    line-height: 4rem;
    color: #dddbff;
  }
  .right h3 span {
    color: #dddbff;
    font-weight: 700;
    font-size: 18px;
  }
  .right .gb-container {
    position: relative;
    color: #dddbff;
    height: 20px;
  }
  .right .gb-container .item {
    position: absolute;
  }
  .right .gb-container .start-gb {
    left: 15px;
  }
  .right .gb-container .full-gb {
    right: 15px;
  }
  .right .banner {
    position: absolute;
    text-align: center;
    background-color: #fff;
    border-radius: 10px 10px 0px;
    margin: 15px 50px 15px 50px;
    padding: 5px 30px 50px 30px;
    width: 175px;
    height: 60px;
    top: -45px;
    right: 1px;
  }
  .right .banner::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #fff transparent transparent;
    right: -0.2px;
    top: 60px;
  }
  .right .banner h1 {
    color: #0c122c;
    display: block;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px;
    font-weight: 700;
  }
  .right .banner h1 span {
    color: #848794;
  }
}

footer {
  position: absolute;
  bottom: 0;
  padding: 15px;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
  color: #848794;
}

footer .attribution a {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */